body {
    background-color: red;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.painel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 90%;
    border-radius: 20px;
    text-align: center;
    padding: 50px 20px;
}

#sim, #nao {
    height: 40px;
    width: 60px;
    background-color: red;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

#sim {
    margin-left: -50px;
}

#nao {
    position: absolute;
    margin-left: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    text-align: center;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Media Queries */
@media (min-width: 768px) and (max-width: 1023px) {
    .painel {
        width: 90%;
    }
}
